.app-nav {
    position: absolute;
    top:0;
    z-index: 10;
    color: black;
    width:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    justify-content: space-between;
    background-color: white;
  }
  .screen {
    overflow: auto;
      width: 100%;
  }
  
  
  /* Navbar section */
  .navbar {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      justify-content: space-between;
      height: 2.5rem;
  }
  .navbar-place-holder {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  justify-content: space-between;
  height: 2.5rem;
  }
  .nav-item {
  height: 2.5rem;
  width:2.5rem;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  }
  .nav-profile-pic:hover {
  opacity: 80%;
  }
  .nav-box-1 ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  }
  
  
  /* Icons */
  .search-icon {
    height: 1rem;
    width: 1rem;
  }
  .add-friend-icon {
    height: 1rem;
    width: 1rem;
  }
  .chat-icon {
    height: 1.3rem;
    width: 1.3rem;
  }
  .flip-icon {
    height: 1.7rem;
    width: 1.7rem;
  }
  .close-icon {
    height: 1.5rem;
    width: 1.5rem;
    margin-left: 0.7rem;
  }
  .sign-in {
    display: flex;
    align-items: center;
    border-radius: 1rem;
    height: 2.5rem;
    padding: 0 0.7rem 0 0.7rem;
    background-color: yellow;
    font-weight: 750;
  }
  .sign-in:hover {
    background-color: rgb(223, 223, 0);
  }
  
  
  /* Add Friend Section */
  .friend-profile-pic {
  }
  .friend-info {
    /* border: 1px green dashed; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 0.5rem 0 0.5rem;
  }
  .friend-info p {
    font-size: 0.9rem;
  }
  .friend-button {
    /* border: 1px orange dashed; */
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .friend-button > *:not(:last-child) {
    margin-right: 1rem;
    margin-left: 1rem;
  }
  .add-friend-icon {
    height: 0.9rem;
    width: 0.9rem;
  }
  .add-friend-list-icon {
    padding-right: 0.4rem;
    height: 0.9rem;
    width: 0.9rem;
  }
  .friend-button {
    margin-right: 0.5rem;
  }
  .friend-button button {
    border-radius: 1rem;
    background-color: lightgrey !important;
    padding: 0.4rem 1rem 0.4rem 1rem !important;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
  }
  .removed-friend {
    background-color: rgb(255, 126, 126);
  }
  .friend-head {
    display: flex;
    justify-content: flex-start;
    width: 96%;
    margin: 2rem 0 0.5rem 0;
  }
  .friend-list-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 96%;
    background-color: white;
    border-radius: 1rem;
  }
  
  .friend-list-container li, .friend-list-container button {
    background-color: white;
    justify-content: space-between;
    border-radius: 1rem;
    padding: 0.7rem 0.5rem 0.7rem 0.5rem;
    display: flex;
    flex-direction: row;
  }
  .friend-list-container li {
    border-top: 2px solid lightgray;
    border-right: 2px solid lightgray;
    border-left: 2px solid lightgray;
  }
  .friend-list-container li:last-child {
    border-bottom: 2px solid lightgray;
  }
  .friend-list-container li:not(:last-child), .friend-list-container button:not(:last-child) {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .friend-list-container li:not(:first-child), .friend-list-container button:not(:first-child) {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
  
  .pic-info-mix {
    display: flex;
    flex-direction: row;
  }
  .friend-search {
    width: 96%;
    padding: 0.5rem 1rem 0.5rem 1rem;
    outline: none;
    border: none;
    border-radius: 1rem;
    font-size: 1rem;
    background-color: rgb(192, 192, 192);
  }