.webcam-screen, .captured-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#webcam {
    /* height: 100vh; */
    width: 100vh;
}
#flip1, #flip2 {
    background-repeat: no-repeat;
    background-position: center;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 20%;
}
.cam-overlay {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.cam-footer {
    position: absolute;
    bottom: 0;
    z-index: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.capture-button {
    width: 6em;
    height: 6em;
    background: transparent;
    border: 0.5rem solid lightgrey;
    border-radius: 50%;
}
.captured-screen {
    background-color: white;
    top: 0;
    position: absolute;
    display: flex;
}
.captured-footer {
    position: absolute;
    bottom: 0;
    left:0;
    width: 100%;
    opacity: 1;
    z-index: 1;
    display: flex;
    justify-content: space-between;
}
.captured-footer > * {
    margin: 0 1rem 0 1rem;
}
.captured-footer button {
    border-radius: 2rem;
    padding: 0.7rem 1.2rem 0.7rem 1.2rem;
    display: flex;
    align-items: center;
    background-color: yellow;
    flex-direction: row;
    color: black;
}
.closeIcon {
    background-color: transparent;
    /* color: white; */
}
.closeButton {
    margin: 0 0 0 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: transparent; */
    outline: none;
}
.shadow {
    box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.5), 0 0px 0px 0 rgba(0, 0, 0, 0.2);
    border-radius: 100%;
}