.webcam-screen, .captured-screen {
    display: flex;
    justify-content: center;
    align-items: center;
}
#webcam {
    /* height: 100vh; */
    width: 100vh;
}
#flip1, #flip2 {
    background-repeat: no-repeat;
    background-position: center;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 20%;
}
.cam-overlay {
    background-color: lightgreen;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.cam-footer {
    margin-bottom: 1rem;
}
.capture-button {
    width: 6em;
    height: 6em;
    background: none;
    border: 0.5rem solid lightgrey;
    border-radius: 50%;
}
.captured-screen, .send-screen {
    background-color: white;
    top: 0;
    position: absolute;
    display: flex;
}
.captured-footer {
    position: absolute;
    bottom: 0;
    left:0;
    width: 100%;
    opacity: 1;
    z-index: 10;
    display: flex;
    justify-content: space-between;
}
.send-screen {
    display:flex;
    flex-direction: column;
    align-items: center;
}
