.main2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(60, 138, 255); */
  }
  .cameraOverlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    /* background-color: lightcoral; */
  }

  .loading {
    background-color: yellow;
    background-image: url('../../assets/images/snapchat-background.gif');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.cameraFooter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* background-color: blue; */
}
.cameraFooter button {
  width: 6em;
  height: 6em;
}
.capture-button {
  width: 6em;
  height: 6em;
  background: transparent;
  border: 0.5rem solid lightgrey;
  border-radius: 50%;
}
.fadeIn {
  animation: fadeIn;
  animation-duration: 0.25s;
}
@keyframes fadeIn {
  0% {
      background-color: rgb(255, 255, 0, 1);
  }
  100% {
      background-color: rgba(4, 0, 255, 0)
  }
}