.camOverlay {
    /* background-color: lightblue; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.capture-button {
    width: 6em;
    height: 6em;
    background: transparent;
    border: 0.5rem solid lightgrey;
    border-radius: 50%;
}
.canvas {
    /* background-color: rgba(253, 171, 147, 0.3); */
    display: none;
}
.loading {
    background-color: yellow;
    background-image: url('../../assets/images/snapchat-background.gif');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.fadeIn {
    animation: fadeIn;
    animation-duration: 0.5s;
}
@keyframes fadeIn {
    0% {
        background-color: rgb(255, 255, 0, 1);
    }
    100% {
        background-color: rgba(4, 0, 255, 0)
    }
}