.camOverlay {
    /* background-color: rgba(202, 80, 71, 0.2); */
    /* border: 10px red solid; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    background-color: rgba(4, 255, 0, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.capture-button {
    width: 6em;
    height: 6em;
    background: transparent;
    border: 0.5rem solid lightgrey;
    border-radius: 50%;
}
.camFooter {
    width: 100%;
}
.camFooter button {
    z-index: 1;
}
.canvas {
    /* background-color: rgba(253, 171, 147, 0.3); */
    display: none;
}
.canvas2 {
    position: absolute;
}
#id {
    background-color: red;
}
.loading {
    background-color: yellow;
    background-image: url('../../assets/images/snapchat-background.gif');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.fadeIn {
    animation: fadeIn;
    animation-duration: 0.25s;
}
@keyframes fadeIn {
    0% {
        background-color: rgb(255, 255, 0, 1);
    }
    100% {
        background-color: rgba(4, 0, 255, 0)
    }
}
