.messages-container {
    display: flex;
    flex-direction: column;
}
.messages-container > li {
    width: 100%;
    /* padding: 0.4rem; */
}
.guest_message {
    background-color: lightgray;
    padding: 1rem;
    /* border: 1px red solid; */
}
.guest_message button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}