.floating-navbar {
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    opacity: 1;
    background-color: transparent;
}
.navbar-relative {
    position: relative;
    background-color: white;
    color: white
}
.navbar-relative > * {
    opacity: 0;
}
.main-navbar {
    z-index: 1;
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0.5rem 0 0.5rem 0;
}
.main-navbar button {
    height: 3rem;
    width: 3rem;
    margin: 0 0.3rem 0 0.3rem;
}