.floating-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.footer-relative {
    position: relative;
    opacity: 0;
}
.main-footer {
    z-index: 1;
    justify-content: space-around;
}
