.main {
    padding: 1rem;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main ul {
    /* border: 2px red solid; */
    padding: 1rem 0 1rem 0;
    width: 100%;
    /* border: 1px blue dashed; */
}
.main .info img {
    max-height: 8rem;
}
.main .snapMap img {
    width: 100%;
    border-radius: 0.5rem;
}
.main button {
    border-radius: 0.5rem;
    padding: 1rem 2rem 1rem 2rem;
}
.section {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    /* border: 1px red solid; */
}
.main img {
    border-radius: 1rem;
}
.main .pic-container {
    margin-right: 1rem;
}
.logout {
    background-color: lightcoral;
}
.login {
    background-color: yellow;
}