.webcam-screen {
    height:100vh;
    overflow-y: hidden;
    overflow-x: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
/* .webcam-desktop {
    width: 100%;
}
.webcam-mobile {
    height:100%;
} */
.webcam-overlay {
    z-index: 10;
    height: 100%;
    width:100%;
    position: absolute;
    top:0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.webcam-navbar {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0 1rem 0;
}
div[class="webcam-overlay"] div {
    display:flex;
}
div[class="webcam-overlay"] li {
    background-color: white;
}
.webcam-nav-box {
    outline: none;
}
.webcam-footer {
    justify-content: center;
    padding: 1rem 0 6rem 0;
}
.buttons-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top:0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.buttons-overlay button {
    margin: 1rem 0 1rem 0;
}
.image-preview {
    display: flex;
    justify-content: center;
}