.capture {
    position: absolute;
    bottom: 5%;
}
.send {
    position: absolute;
    bottom: 10%;
}
.webcam{
    display: flex;
    justify-content: center;
}
.cam-tab{
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-list {
    display: flex;
    justify-content: center;
    height: 100vh;
}