div[class*="nav-box"] ul {
    display:flex;
    flex-direction: row;
    align-items: center;
}
div[class*="nav-box"] ul li {
    margin: 0 0.7rem 0 0.7rem;
}
ul[class*="messages-list"] li {
    display: flex;
    justify-content: flex-start;
    padding: 1rem 1rem 1rem 1rem;
    border-bottom: 1px rgb(170, 170, 170) solid;
}
.welcome-statement {
    background-color:rgb(216, 216, 216);
}
ul[class*="add-list"] li:not(:last-child) {
    border-bottom: 1px rgb(170, 170, 170) solid;
}
