* {
    margin: 0;
    margin-block-start: 0rem;
    margin-block-end: 0rem;
    padding-inline-start: 0;
}
.messages-screen > *{
    margin: 0;
}
.navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    justify-content: space-between;
    background-color: white;
}
/* .nav-box-1 ul, .nav-box-2 h1, .nav-box-3 ul, .messages-list{
    margin-block-start: 0rem;
    margin-block-end: 0rem;
    padding-inline-start: 0;
} */

div[class*="nav-box"] ul {
    display:flex;
    flex-direction: row;
    align-items: center;
}
div[class*="nav-box"] ul li {
    margin: 0 0.7rem 0 0.7rem;
}
ul[class*="messages-list"] li {
    display: flex;
    justify-content: flex-start;
    padding: 1rem 0 1rem 1rem;
    border-bottom: 1px rgb(170, 170, 170) solid;
}
li {
    text-decoration: none;
    list-style-type: none;
}
a {
    padding: 0.3rem 0.3rem 0.3rem 0.3rem;
    border-radius: 0.25rem;
}
a:hover {
    background-color: lightblue;
    cursor: pointer;
}
.message-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left:1rem;
}
.message-sub-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.message-sub-info > * {
    margin-right: 0.5rem;
}
.message-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.message-avatar {
    height: 2.5rem;
    width:2.5rem;
    border-radius: 100%;
}
.message-new {
    height: 0.95rem;
    width: 0.95rem;
    background-color: red;
    border-radius: 0.2rem;
}
.message-received {
    height: 0.6rem;
    width: 0.6rem;
    background-color: none;
    border: 0.17rem solid red;
    border-radius: 0.2rem;
}
.message-opened {
    width: 0;
	height: 0;
	border-top: 0.5rem solid transparent;
	border-left: 1rem solid #555;
	border-bottom: 0.5rem solid transparent;
}
.message-sent {
    width: 0;
	height: 0;
	border-top: 0.5rem solid transparent;
	border-left: 1rem solid #664db1;
	border-bottom: 0.5rem solid transparent;
}
.red {
    color: red;
}
.profile-pic {
    height: 2rem;
    width: 2rem;
    border-radius: 100%;
}
.profile-pic:hover {
    cursor: pointer;
    opacity: 70%;
}
.image-background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.image {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}