.app-nav {
  position: absolute;
  top:0;
  z-index: 10;
  color: black;
  background-color: white;
  color: black;
}
.navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    justify-content: space-between;
    height: 2.5rem;
}
.nav-profile-pic {
  height: 2rem;
  width:2rem;
  border-radius: 1rem;
}
.nav-profile-pic:hover {
  opacity: 80%;
}
.screen {
  height: 100vh;
  width: 100%;
  z-index: 9;
  background-color: lightgrey;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Profile Section */
.profile-pic {
  border-radius: 1rem;
  width:8rem;
  margin:1rem
}

/* Add Friend Section */
.list-container {
  width:100%;
}
.item-container {
  /* border: 1px red dashed; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  padding:1rem 0 1rem 0;
  width: 100%;
}
.pic-container {
  /* border: 1px blue dashed; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.friend-profile-pic {
  border-radius: 1rem;
  width:4rem;
}
.friend-info {
  /* border: 1px green dashed; */
}
.friend-button {
  /* border: 1px orange dashed; */
  display: flex;
  align-items: center;
}
.friend-button button {
  border-radius: 1rem;
}
.removed-friend {
  background-color: rgb(255, 126, 126);
}
