.app-nav {
  position: absolute;
  top:0;
  z-index: 10;
  color: black;
  background-color: white;
  color: black;
}
.navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    justify-content: space-between;
    height: 2.5rem;
}