.settings-screen {
    display: flex;
    flex-direction: column;
    /* border: 2px red solid; */
    padding: 0.5rem;
}
.container {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.left {
    justify-content: left;
}
.center {
    justify-content: center;
}
.settings-screen .row > * {
    padding-right: 1rem;;
}